MITCH_2021/.settings/language.settings.xml
MITCH_2021/.settings/
*.xml
"MITCH_2021/.settings/*"
MITCH_2021/Debug/*
MITCH_2021/Release/*
Debug/NucleoProjects/NucleoAcquisition/Debug/*
Debug/NucleoProjects/NucleoAcquisition/IncPSP
Debug/NucleoProjects/NucleoAcquisition/SrcPSP
Debug/NucleoProjects/NucleoAcquisition/IncInterface
Debug/NucleoProjects/NucleoAcquisition/SrcInterface
Debug/NucleoProjects/NucleoMonitoring/Debug/*
Debug/NucleoProjects/NucleoMonitoring/IncPSP
Debug/NucleoProjects/NucleoMonitoring/SrcPSP
Debug/NucleoProjects/NucleoMonitoring/IncInterface
Debug/NucleoProjects/NucleoMonitoring/SrcInterface
Debug/NucleoProjects/NucleoStorage/Debug/*
Debug/NucleoProjects/NucleoStorage/IncPSP
Debug/NucleoProjects/NucleoStorage/SrcPSP
Debug/NucleoProjects/NucleoStorage/IncInterface
Debug/NucleoProjects/NucleoStorage/SrcInterface
Debug/NucleoProjects/NucleoSensors/Debug/*
Debug/NucleoProjects/NucleoSensors/IncPSP
Debug/NucleoProjects/NucleoSensors/SrcPSP
Debug/NucleoProjects/NucleoSensors/IncInterface
Debug/NucleoProjects/NucleoSensors/SrcInterface
Debug/NucleoProjects/NucleoStorage/Debug/*

