MITCH_2021/.settings/language.settings.xml
MITCH_2021/.settings/
*.xml
"MITCH_2021/.settings/*"
MITCH_2021/Debug/*
MITCH_2021/Release/*
Debug/NucleoProjects/NucleoAcquisition/Debug/*
Debug/NucleoProjects/NucleoMonitoring/Debug/*